// ==============> Estilo do restante das demais seções <==============

// ****** Hero ******
.hero-section {
  width: 100%;
  height: 100vh;
  position: relative;
  .bkg-video {
    position: absolute;
    width: 100%;
    z-index: 0;
    video {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: center;
    }
  }
  .content {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      177deg,
      rgba(43, 43, 43, 0) 3.89%,
      rgba(0, 0, 0, 0.5) 66.99%
    );

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 29px;

    text-align: center;
    position: relative;
    z-index: 1;
    h1 {
      color: $overlay-white-01;
      font-weight: 500;
      @include type-heading(h3);
      @include device(s) {
        @include type-heading(h6);
      }
    }
    p {
      color: $overlay-white-01;
      @include type-text(lg, 140%);
      @include device(s) {
        @include type-text(base);
      }
    }
    .primary-btn {
      @include primary(l);
    }
    .value {
      margin-top: 27px;
      color: $overlay-white-01;
      @include type-text(lg);
      @include device(s) {
        @include type-text(base);
      }
    }
  }
}

// ****** Technology ******
.technology-section {
  display: flex;
  gap: 151px;
  padding: 64px 46px;
  @include device(m) {
    gap: 32px;
    padding: 46px 16px;
    flex-direction: column;
  }
  @include device(s) {
    gap: 24px;
    padding: 46px 16px;
  }
  span {
    text-transform: uppercase;
    color: $neutral-color-06;
    @include type-text(sm);
  }
  h5 {
    color: $overlay-dark-02;
    font-weight: 700;
    margin-bottom: 12px;
    @include type-heading(h5);
    @include device(m) {
      @include type-heading(h6);
    }
    @include device(s) {
      @include type-heading(h7);
    }
  }
  p {
    color: $neutral-color-05;
    @include type-text(base);
  }
}
