// ========================================> Seções <========================================

// *********************** Hero *************************
.hero-section {
  width: 100%;
  height: 100vh;
  position: relative;
  .bkg-video {
    position: absolute;
    width: 100%;
    z-index: 0;
    video {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: center;
    }
  }
  .main-content {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      177deg,
      rgba(43, 43, 43, 0) 3.89%,
      rgba(0, 0, 0, 0.5) 66.99%
    );

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 29px;

    text-align: center;
    position: relative;
    z-index: 1;
    @include device(s) {
      padding-left: 16px;
      padding-right: 16px;
    }
    h1 {
      color: $overlay-white-01;
      font-weight: 500;
      @include type-heading(h3);
      @include device(s) {
        @include type-heading(h6);
      }
    }
    p {
      color: $overlay-white-01;
      @include type-text(lg, 140%);
      @include device(s) {
        @include type-text(base);
      }
    }
    .primary-btn {
      @include primary(l);
    }
    .value {
      margin-top: 27px;
      color: $overlay-white-01;
      @include type-text(lg);
      @include device(s) {
        @include type-text(base);
      }
    }
  }
}

// *********************** Technology *************************
.technology-section {
  display: flex;
  gap: 151px;
  padding: 64px 46px;
  @include device(m) {
    gap: 32px;
    padding: 46px 16px;
    flex-direction: column;
  }
  @include device(s) {
    gap: 24px;
    padding: 46px 16px;
  }
  span {
    text-transform: uppercase;
    color: $neutral-color-06;
    @include type-text(sm);
  }
  div {
    max-width: 630px;
    h5 {
      color: $overlay-dark-02;
      font-weight: 700;
      margin-bottom: 12px;
      @include type-heading(h5);
      @include device(m) {
        @include type-heading(h6);
      }
      @include device(s) {
        @include type-heading(h7);
      }
    }
    p {
      color: $neutral-color-05;
      @include type-text(base);
    }
  }
}

// *********************** Loading *************************
.loading-section {
  width: 100%;
  background-color: $overlay-dark-02;
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../../src/assets/Smoke.png") center no-repeat;
    background-position: bottom left;
    @include device(m) {
      width: 100%;
    }
  }
  @include device(m) {
    display: flex;
    flex-direction: column;
  }
}

.loading-column-left {
  border-right: 1px solid $neutral-color-07;
}

.loading-bkg-video {
  position: relative;
  video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.loading-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  padding: 123px 0 98px 0;
  background-image: url("../../src/assets/Waves.svg");
  border-bottom: 1px solid $neutral-color-07;
  span {
    color: $neutral-color-02;
    &:nth-child(1) {
      @include type-text(lg);
    }
    &:nth-child(2) {
      @include type-heading(h1);
      font-weight: 500;
      margin-bottom: 4px;
    }
    &:nth-child(3) {
      font-family: "Poppins", sans-serif;
      font-size: 1.125rem;
      font-weight: 600;
      color: $brand-color-primary-01;
    }
  }
}
.loading-description {
  display: flex;
  justify-content: center;
  @include device(m) {
    border-bottom: 1px solid $neutral-color-07;
  }
  p {
    @include type-text(lg);
    color: $neutral-color-03;
    padding: 123px 0;
    max-width: 600px;
    @include device(m) {
      padding: 46px 16px;
      @include type-text(base);
    }
  }
}

.loading-cta {
  position: relative;
  padding: 179px 0 0 64px;
  display: flex;
  flex-direction: row;
  z-index: 1;
  @include device(m) {
    padding: 46px 16px;
  }
  div {
    @include device(m) {
      padding: 46px 16px;
      margin-bottom: 199px;
    }
  }
  img {
    &:nth-child(1) {
      margin-bottom: 8px;
    }
  }
  p {
    @include type-text(base);
    color: $neutral-color-03;
    margin-bottom: 24px;
    max-width: 340px;
    span {
      color: $brand-color-primary-01;
    }
  }
  .primary-icon-btn {
    @include primary-icon(l);
    background-color: $brand-color-primary-01;
  }
  .loader-image {
    position: absolute;
    right: 64px;
    @include device(m) {
      bottom: -64px;
      right: 24px;
    }
  }
}

// *********************** New possibilities *************************
.new-possiblities-section {
  width: 100%;
}

.new-possibilities-description {
  display: flex;
  gap: 151px;
  padding: 96px 0 46px 46px;
  border-bottom: 1px solid $neutral-color-02;
  @include device(m) {
    flex-direction: column;
    gap: 24px;
    padding: 64px 16px 46px 16px;
  }
  span {
    text-transform: uppercase;
    color: $neutral-color-06;
    @include type-text(sm);
  }
  div {
    max-width: 610px;
    h4 {
      @include type-heading(h4);
      color: $overlay-dark-02;
      font-weight: 700;
      margin-bottom: 12px;
      @include device(m) {
        @include type-heading(h6);
      }
    }
    p {
      @include type-text(base);
      color: $neutral-color-06;
      margin-bottom: 24px;
    }
    button {
      display: flex;
      align-items: center;
      gap: 8px;

      padding: 8px 14px;
      border: 1px solid $brand-color-primary-01;
      background-color: transparent;
      border-radius: 40px;

      @include type-text(xs);
      color: $brand-color-primary-01;
      font-weight: 700;

      cursor: pointer;
      transition: ease-in-out 0.5s;
      img {
        width: 16px;
        height: 16px;
      }
      &:hover {
        background-color: $brand-color-primary-02;
        color: $neutral-color-01;
      }
    }
  }
}

.meta-quest-pro-image {
  width: 100%;
  margin-top: 14px;
  margin-bottom: 196px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include device(m) {
    margin-bottom: 56px;
  }
  img {
    max-width: 100%;
    display: block;
  }
}
