// ==============> Variáveis & mixins <==============

// ****** Variáveis para cores ******

// Cores primária
$brand-color-primary-01: #0071e3;
$brand-color-primary-02: #0052a2;
$brand-color-primary-03: #afd5fb;

// Cores neutra
$neutral-color-01: #fafafa;
$neutral-color-02: #ebedf0;
$neutral-color-03: #dbdde1;
$neutral-color-04: #86868b;
$neutral-color-05: #8d949e;
$neutral-color-06: #444950;
$neutral-color-07: #1c1e21;

// Cores overlay
$overlay-white-01: #ffffff;
$overlay-dark-01: #090e17;
$overlay-dark-02: #050404;

// Cores background
$background-color-1: rgba(0, 113, 227, 10%);
$background-color-2: rgba(129, 186, 244, 12%);
$background-color-3: rgba(255, 255, 255, 80%);

// ****** Mixin para tipografia ******

// Mixin para títulos
@mixin type-heading($size) {
  @if $size == h1 {
    font-size: 5rem;
  } @else if $size == h2 {
    font-size: 4.0625rem;
  } @else if $size == h3 {
    font-size: 3.5rem;
  } @else if $size == h4 {
    font-size: 3rem;
  } @else if $size == h5 {
    font-size: 2.5rem;
  } @else if $size == h6 {
    font-size: 2rem;
  } @else if $size == h7 {
    font-size: 1.5rem;
  }

  line-height: 120%;
}

// Mixin para textos
@mixin type-text($size, $line-height: 150%) {
  @if $size == lg {
    font-size: 1.125rem;
  } @else if $size == base {
    font-size: 1rem;
  } @else if $size == sm {
    font-size: 0.875rem;
  } @else if $size == xs {
    font-size: 0.75rem;
  }

  line-height: $line-height;
}
